* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

body {
  background-color: #eee; }

.container {
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 4px 4px 4px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  margin: 0 4px;
  background-color: #fff;
  border-bottom: 1px solid rgba(194, 184, 184, 0.5); }
  .header__heading {
    font-size: 18px;
    color: #555; }
  .header__setting {
    display: flex;
    align-items: center; }
  .header__setting-button {
    width: 35px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #696666;
    cursor: pointer; }
    .header__setting-button svg {
      user-select: none; }
    .header__setting-button:hover {
      background-color: #eee;
      fill: #000; }
    .header__setting-button--disable {
      fill: #696666; }
    .header__setting-button--active {
      background-color: #eee;
      fill: #000; }

table {
  border: 1px solid #ECEDEE;
  width: 100%; }

table th {
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff; }

table td {
  padding: 5px 5px 5px 10px;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff; }

table td:first-child {
  text-align: left; }

table td:nth-child(2n-1) {
  width: 30%; }

table td:nth-child(2n) {
  width: 20%; }

table td:nth-child(2) {
  background-color: #8ad7fa; }

.proceeds-percent {
  color: green;
  padding-left: 20px; }

.loss-percent {
  color: red;
  padding-left: 20px; }

.proceeds-block {
  background-color: rgba(110, 187, 106, 0.6);
  padding-left: 20px; }

.loss-block {
  background-color: rgba(211, 105, 97, 0.6);
  padding-left: 20px; }

.table-row--delete-mode {
  background: linear-gradient(45deg, rgba(213, 68, 68, 0.4) 25%, #fff 0, #fff 50%, rgba(213, 68, 68, 0.4) 0, rgba(213, 68, 68, 0.4) 75%, #fff 0);
  background-size: 30px 30px; }

.table-row--deleted {
  display: none; }

.highcharts-figure, .highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 0 auto; }

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px; }

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555; }

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em; }

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em; }

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8; }

.highcharts-data-table tr:hover {
  background: #f1f7ff; }

.highcharts-credits {
  display: none; }

.Y-dot {
  position: relative;
  left: 20px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8e8c8c; }

.X-dot {
  position: relative;
  bottom: 12px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8e8c8c; }

@media (max-width: 768px) {
  table th {
    font-size: 11px; }
  table td {
    font-size: 14px; }
  .container {
    padding: 40px 20px 4px 20px; }
  table td:nth-child(2n-1) {
    width: 20%; }
  table td {
    width: 20%; }
  table td:nth-child(1) {
    width: 25%; } }

@media (max-width: 590px) {
  #container {
    height: 100%;
    position: relative; }
  .highcharts-figure {
    height: 283px; }
  table th {
    font-size: 11px; }
  table td {
    font-size: 13px; }
  .table-content {
    text-align: left;
    padding: 5px 5px; }
  .proceeds-percent {
    display: flex;
    justify-content: flex-end;
    padding-left: 0; }
  .loss-percent {
    display: flex;
    justify-content: flex-end;
    padding-left: 0; } }

@media (max-width: 515px) {
  table th {
    font-size: 10px; }
  table td:first-child {
    font-size: 10px; } }

/*# sourceMappingURL=main.css.map */
